<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OraChat</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.chat.InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/chatInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatServer</display-name>
    <servlet-name>ChatServer</servlet-name>
    <servlet-class>com.chat.ChatServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServer</servlet-name>
    <url-pattern>/chatServer</url-pattern>
  </servlet-mapping>
</web-app>